/* code for centering for now */
html,
body {
  height: 100%;
  background-color: rgb(219, 240, 219);
}

html {
  display: table;
  margin: auto;
}

body {
  /* display: table-cell; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  padding: 15px;
}

#ac-wrapper {
  border: 4mm ridge rgba(220, 189, 50, 0.6);
  padding: 10px;
  background-color: rgb(231, 233, 200);
}

#game-field {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 150px 150px;
  grid-auto-flow: column;
  background-color: burlywood;
  box-shadow: 5px 10px #888888;
  align-items: center;
  justify-items: center;
  padding: 20px;
  font-size: 35px;
  border-radius: 32px;
}

#game-field > * {
  height: 80px;
  width: 80px;
  background-color: rgb(110, 102, 91);
  border-radius: 50%;
  text-align: center;
}

.mancala-2 {
  height: 250px !important;
  width: 100px !important;
  grid-column: 1;
  grid-row: 1 / 3;
  background-color: rgb(86, 86, 133) !important;
  box-shadow: 0 0 10px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(-180deg);
  border-radius: 32px !important;
}
.mancala-1 {
  height: 250px !important;
  width: 100px !important;
  grid-column: 8;
  grid-row: 1 / 3;
  background-color: rgb(86, 86, 133) !important;
  box-shadow: 0 0 10px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  border-radius: 32px !important;
}

/* .pit {
    height: 100px;
    width: 100px;
    background-color: rgb(110, 102, 91);
    margin: 10px;
   
} */

#message-display {
  height: 100px;
  width: 400px;
  background-color: rgb(158, 99, 158);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin: 20px;
  border-radius: 10px;
}

/* #message-display {
  text-align: center;
  border-radius: 32px
} */

/*media query for mobile  */
/* @media (max-width: 480px) {
  html {
    transform: rotate(90deg);
    margin-top: 30%;
  }
} */
